$primary-color:#fff;
$secondary-color:#FBFBFB;
$text-color:#213F7D;
$text-color2:#39CDCC;
$text-blur:#5a6478;
$inter-family:'Inter', sans-serif;
$work-family:'Work Sans', sans-serif;
$nav-link-width:240px;
$bg-hover:#F3FCFC;
$font-weights:(
    "light": 200,
    "regular": 400,
    "medium": 500,
    "semibold": 600,
    "bold": 700,
    "extrabold": 800,
);
